* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#central{
    background-color: rgb(167,73,73);
    width: 100vw;
    height: 100vh;
    position: relative;
}

#conteudo{
    position: absolute;
    top: -20px;
    left: 60px;
    transform: scale(80%);
    width: 1276px;
    height: 700px;
}

#jogos{
    transform: translate(0%,3%);
    width: 1276px;
    height: 530px;
    background-color: rgb(33, 33, 33);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#perfil{
    width: 1276px;
    height: 150px;
    background-color: rgb(33, 33, 33);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#perfilInfo>h1{
    color: white;
    position: relative;
    top: -55px;
    left: 14px;
    display: inline-block;
}

#titulo{
    font-size: 18px;
    color: white;
    position: relative;
    top: -58px;
    left: 138px;
    font-style: italic;
    display: inline-block;
}

#nivel{
    color: white;
    position: relative;
    top: -35px;
    left: 37px;
    font-style: italic;
    display: inline-block;
}

#perfilInfo{
    position: relative;
    width: 300px;
    top: 15px;
    left: 20px;
}

#foto{
    width: 120px;
    height: 120px;
}

#botoes{
    position: relative;
    top: -90px;
    left: 650px;
}

.btn{
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 22px;
    font-style: bold;
    color: white;
    border: solid 4px;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    width: 120px;
    height: 46px;
    transition: all 300ms ease;
}

.btn:hover{
    background-color: rgb(22, 22, 22);
    border-color: rgb(230, 98, 98);
    box-shadow: 0 0 10px rgb(167,73,73);
}

#saldo {
    position: relative;
    top: 8px;
    left: 45px;
    display: inline-block;
    color: white;
    font-size: 28px;
}

.btnJogos{
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 35px;
    font-style: bold;
    color: white;
    border: solid 8px;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    width: 350px;
    height: 450px;
    transition: all 300ms ease;
}

#jogo1:hover{
    background-color: rgb(22, 22, 22);
    border-color: rgb(75, 153, 255);
    box-shadow: 0 0 10px rgb(75, 153, 255);
}

#jogo2:hover{
    background-color: rgb(22, 22, 22);
    border-color: rgb(255, 128, 10);
    box-shadow: 0 0 10px rgb(255, 128, 10);
}

#jogo3:hover{
    background-color: rgb(22, 22, 22);
    border-color: rgb(111, 255, 82);
    box-shadow: 0 0 10px rgb(111, 255, 82);
}

#jogo1facil:hover,#jogo2facil:hover,#jogo3facil:hover{
    background-color: rgb(22, 22, 22);
    border-color: rgb(39, 251, 75);
    box-shadow: 0 0 10px rgb(39, 251, 75);
}

#jogo1medio:hover,#jogo2medio:hover,#jogo3medio:hover{
    background-color: rgb(22, 22, 22);
    border-color: rgb(221, 155, 0);
    box-shadow: 0 0 10px rgb(221, 155, 0);
}

#jogo1dificil:hover,#jogo2dificil:hover,#jogo3dificil:hover{
    background-color: rgb(22, 22, 22);
    border-color: rgb(255, 56, 6);
    box-shadow: 0 0 10px rgb(255, 56, 6);
}

#centralizarJogos{
    transform: translate(1.5%,9%);
}

#solicitarValorDaAposta{
    position: relative;
    height: 400px;
    top: 160px;
    left: 500px;
}

#valorAposta{
    color: white;
    border: 3px solid;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    padding-left: 15px;
    font-size: 25px;
    height: 50px;
    width: 120px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

#valorAposta:focus{
    width: 280px;
    outline: none;
    border: 3px solid;
    border-color: rgb(230, 98, 98);
    box-shadow: 0 0 10px rgb(167,73,73);
}

#apostar,#gerador{
    font-size: 22px;
    color: white;
    border: 3px solid;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    position: relative;
    top: -1.5px;
    cursor: pointer;
    width: 100px;
    height: 55px;
    transition: all 300ms ease;
}

#gerador{
    width: 320px;
}

#apostar:hover,#gerador:hover{
    border: 3px solid;
    border-color: rgb(230, 98, 98);
    box-shadow: 0 0 10px rgb(167,73,73);
}

#gerador:hover{
    transform: scale(98%);
}

#diasDaSemana{
    position: relative;
    top: 90px;
    height: 400px;
}

#dias{
    color: white;
    position: relative;
    left: 510px;
}

#segunda{
    position: relative;
    top: 83px;
    left: 150px;
    color: white;
    border: 3px solid;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    font-size: 25px;
    width: 230px;
    height: 55px;
    cursor: pointer;
}

#segunda:hover{
    border: 3px solid;
    border-color: rgb(230, 98, 98);
    box-shadow: 0 0 10px rgb(167,73,73);
}

#sexta, #sabado, #domingo{
    position: relative;
    top: -195px;
    left: 650px;
    display: block;
    color: white;
    border: 3px solid;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    font-size: 25px;
    width: 230px;
    height: 55px;
    cursor: pointer;
}

#terca, #quarta, #quinta{
    position: relative;
    top: -30px;
    left: 400px;
    display: block;
    color: white;
    border: 3px solid;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    font-size: 25px;
    width: 230px;
    height: 55px;
    cursor: pointer;
}

#comecarAposta{
    position: relative;
    top: -302px;
    left: 905px;
    color: white;
    border: 3px solid;
    border-color: rgb(248, 72, 72);
    background-color: rgb(33, 33, 33);
    font-size: 25px;
    width: 230px;
    height: 55px;
    cursor: pointer;
}

#segundos, #segundos2{
    position: relative;
    top: -290px;
    left: 935px;
    color: white;
    font-size: 23px;
    width: 230px;
}

#terca:hover, #quarta:hover, #quinta:hover, #sexta:hover, #sabado:hover, #domingo:hover, #comecarAposta:hover{
    border: 3px solid;
    border-color: rgb(230, 98, 98);
    box-shadow: 0 0 10px rgb(167,73,73);
}

#numero1, #numero2, #numero3{
    display: block;
    position: relative;
    color: white;
    border: 3px solid;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    font-size: 25px;
    width: 230px;
    height: 55px;
    cursor: pointer;
    top: 60px;
    left: 400px;
    transition: all 300ms ease;
}

#numero4, #numero5, #numero6{
    display: block;
    position: relative;
    top: -105.5px;
    left: 630px;
    color: white;
    border: 3px solid;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    font-size: 25px;
    width: 230px;
    height: 55px;
    cursor: pointer;
    transition: all 300ms ease;
}

#apostarRaspadinha{
    position: relative;
    top: -80.5px;
    left: 510px;
    color: white;
    border: 3px solid;
    border-color: rgb(167,73,73);
    background-color: rgb(33, 33, 33);
    font-size: 25px;
    width: 230px;
    height: 55px;
    cursor: pointer;
    transition: all 300ms ease;
}

#megaSenaBotes{
    height: 400px;
    color: white;
    position: relative;
    top: 0px;
    left: 0px;
}

#raspadinha{
    position: relative;
    top: 20px;
    left: 530px;
}

#numero1:hover, #numero2:hover, #numero3:hover, #numero4:hover, #numero5:hover, #numero6:hover, #apostarRaspadinha:hover{
    border: 3px solid;
    border-color: rgb(230, 98, 98);
    box-shadow: 0 0 10px rgb(167,73,73);
}